.control {
  display: flex;
  flex-direction: row;
  padding: 0.59rem;
}

.control label {
  width: 6rem;
  color: #0b0c0c;
  font-weight: bold;
  padding-top: 5px;
}

.control input {
  position: relative;
  height: 2rem;
  width: 70%;
  text-indent: 10px;
  cursor: pointer;
  font-size: 15px;
  border: 0.5px solid gray;
}

.control input:focus {
  outline: none;
  border: 0.5px solid #5f9ea0;
}

.control input:hover {
  outline: none;
  border: 0.5px solid #5f9ea0;
}

.invalid {
  border: 1px solid rgb(196, 57, 57);
}
